<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>导航菜单hover横线移动样式</title>
	<link rel="stylesheet" href="nav_hover_line.css">
</head>
<body>
	
		<h6>li元素最后一个作为线</h6>
	<ul class='nav'>
		<li class='list-item'><a href="">首页</a></li>
		<li class='list-item'><a href="">机构概况</a></li>
		<li class='list-item'><a href="">实践平台</a></li>
		<li class='list-item'><a href="">实践课程</a></li>
		<li class='list-item'><a href="">学生记者</a></li>
		<li class='list-item'><a href="">实践成果</a></li>
		<li class='list-item'><a href="">传播平台</a></li>
		<li class='bottom'></li>
	</ul>
	

<h6>li元素最后一个作为线</h6>
	<ul class='nav_2'>
		<li class='list-item'><a href="">首页</a></li>
		<li class='list-item'><a href="">机构概况</a></li>
		<li class='list-item'><a href="">实践平台</a></li>
		<li class='list-item'><a href="">实践课程</a></li>
		<li class='list-item'><a href="">学生记者</a></li>
		<li class='list-item'><a href="">实践成果</a></li>
		<li class='list-item'><a href="">传播平台</a></li>
		<li class='bottom'></li>
	</ul>

</body>
</html>