 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>table</title>
  <style>
  table{
    width:500px;
    text-align: center;
    border-collapse: collapse;
  }
  .odd{
    background-color:#e4e4e4;
  }
  .even{
    background-color: #f4f4f4;
  }
  .selected{
    background-color: #ccc;
  }
  </style>
</head>
<body>
<table>
  <thead>
    <tr>
    <th></th>
    <th>姓名</th>
    <th>年龄</th>
    <th>城市</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="radio" name='radiohead'></td>
      <td>二狗</td>
      <td>3</td>
      <td>北京</td>
    </tr>
    <tr>
    <td><input type="radio" name='radiohead'></td>
      <td>sam</td>
      <td>4</td>
      <td>上海</td>
    </tr>
    <tr>
    <td><input type="radio" name='radiohead'></td>
      <td>吴彦祖</td>
      <td>40</td>
      <td>香港</td>
    </tr>
    <tr>
    <td><input type="radio" name='radiohead'></td>
      <td>金城武</td>
      <td>50</td>
      <td>广州</td>
    </tr>
    <tr>
    <td><input type="radio" name='radiohead'></td>
      <td>彭于晏</td>
      <td>30</td>
      <td>台北</td>
    </tr>
  </tbody>
</table>
<script src='../lib/jquery/dist/jquery.min.js'></script>
<script>
  $(function(){
      $('tbody>tr:odd').addClass('odd');
			$('tbody>tr:even').addClass('even');
      $('tr').click(function(){
        $(this)
              .addClass('selected')
              .siblings().removeClass('selected')
              .end()
              .find(':radio').prop('checked',true);
      })
	})
  </script>
</body>
</html>