<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>jq-ajax</title>
</head>
<body>
  <script src='../lib/jquery/dist/jquery.min.js'></script>
  <script>
    $(function(){
      $.ajax({
        type:'GET',
        url:'http://api.jirengu.com/fm/getChannels.php',
        dataType:'jsonp',
        success:function(data){
          data = JSON.stringify(data);
            document.body.innerHTML= data['channels'];
            console.log(data)
        }
      })
    })
  </script>
</body>
</html>