<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
  <title>navigator对象</title>
</head>
<body>

<div id = "data">
  <h4>You are here:</h4>
  <div class="lati"></div>
</div>

  <script src='../lib/jquery/dist/jquery.min.js'></script>
  <script>
    console.log('appCodeName:'+navigator.appCodeName);
    console.log('appName:'+navigator.appName);
    console.log('appVersion:'+navigator.appVersion);
    console.log('platform:'+navigator.platform);
    console.log('product:'+navigator.product);
    console.log('userAgent:'+navigator.userAgent);
  </script>
  <script>
  if(navigator.geolocation){
    navigator.geolocation.getCurrentPosition(function(position){
      $(".lati").text("纬度:"+ position.coords.latitude)
    },function(error){
      console.log(error.message);
    })
  }
</script>
</body>
</html>